
.productBox{
	display:block;
	border: 1px solid #ccc;
	    padding: 20px 20px;
	text-align: center;
	max-width: 100%;
	margin: 20px auto;
	border-radius: 10px;
	position: relative;
}
.productBox .content-width{
}
.title{
  font-weight: bold;
  font-size: 20px;
  max-width: 66%;
  margin: 0 auto;
}
.price{
	color:#ff8100;
	font-weight: bold;
	font-size: 30px;
}
h3.related-items{
	text-align: center;
	font-size: 30px;
	color:#7b8aa2;
}
#relatedItems{
	text-align: center;
	margin: 0;
	padding: 0;
}

.product-image{
	width: 100%;
	text-align: center;
}
.product-image img{
	width: 30%;
}

#products-list{
	margin: 0;
	padding: 0;
}
header .container{
	padding: 0;
}
.container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 40px;
	position: relative;
}
.shopping-image{
	position: absolute;
	right: 0;
	bottom: -20px;
	display: none;
	width: 150px;
}
.sidebar{
	width: 15%;
	float: left;
	position: fixed;
	white-space: nowrap;
	display:none;
}
.content{
	width: 100%;
}
.sidebar nav ul{
	margin-top: 0;
}
.sidebar nav ul li a{
	color:#2b3a54;
}
#products-list li{
	display:block;
}

.details a{
    color: #7292ca;
    display: inline-block;
    padding: 10px;
    transition: all ease .5s;
    border-radius: 10px;
    font-weight: bold;
}
.details a:hover{
	color: #3a60a2;
}

.single-product .productBox{
	border: none;
}
.single-product .details{
	display:none;
}
.single-product-description{
	max-width: 80%;
	margin: 0 auto;
}
.add-to-cart{
	text-align: center;
	margin: 40px 20px;
	padding: 10px;
	background: #2b3a54;
	color:#fff;
	border-radius: 10px;
	cursor: pointer;
	transition: all ease .5s;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.sad{
	font-size: 40px;
}
.sad span{
	display:block;
	font-size: 60px;
}
.add-to-cart.bright{
	position: absolute;
	bottom: 0;
	left: 0;	
	width: 100%;
	box-sizing: border-box;
	margin: 0;
  border-radius: 0 0 8px 8px;
	background: #2b3a54;
  ;
}
.add-to-cart.in-cart, .add-to-cart.in-cart:hover{
	background: #31ce31;
	cursor: default;
}
.add-to-cart:hover{
  background: #446398;
}

.final-total {
  background: #ff7601;
  color: #fff;
  text-align: right;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  right: 0;
  bottom: 40px;
  z-index: 5;
}

.cart-page .add-to-cart,
.cart-page .title,
.cart-page .details{
	display:none;
}
.trash{
	float: left;
}
.edit-cart{
	text-align: right;
}
.qty{
	width: 30px;
	margin-right: 20px;
	border: 0;
}
.item-total{
	width: 120px;
	display: inline-block;
}
.cart-adjust{
	display:none;
}
#cart .cart-adjust{
	display:block;
}
.cart-page .productBox{
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	padding: 10px;
	margin:0;
}
.cart-page .product-image{
	width: 35%;
	display:inline-block;
	max-width: 200px;
}
.cart-page .product-info{
	width: 80%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}
.cart-page .price{
	color:#ccc;
	font-size: 16px;
}

.description{
	display:none;
	margin: 40px;
}
.single-product .description{
	display: block;
}
.related-product-image{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 1px solid #ccc;
	padding: 11px;
	vertical-align: top;
	text-align: center;
}
.related-product-image img{
	max-width: 100%;
	max-height: 95px;
}

#hero{
background: rgb(250,181,50);
background: radial-gradient(circle, rgba(250,181,50,1) 0%, rgba(252,140,70,1) 100%);
text-align: center;
padding: 15px;
color:#fff;
}
#hero h2{
	margin: 0;
	color:#fff;
}
#hero a{
	color: #fff;
}
#hero span{
	color: #ad6329;
	font-weight: bold;
}

@media screen and (min-width: 600px){

.shopping-image{
	display: block;
}
	#home #products-list{
		text-align: center;
	}
	#home #products-list li {
    display:  inline-block;
    max-width: 250px;
    margin: 20px;
	}
	#home #products-list li .product-image {
    display:  block;
    width: 70%;
    margin: 0 auto;
	}
	#home #products-list li .product-image img {
    height: 75px;
    width: auto;
	}
	#home #products-list li .product-info{
    display:  block;
    width: 100%;
	}
	#home #products-list li .title{
    display:  none;
	}
	#home #products-list li .price{
    display:  none;
    width: 100%;
	}
	.sidebar{
		display: block;
		box-sizing: border-box;
	}
	.cart-page .product-image{
		width: 35%;
		display:inline-block;
		max-width: 100px;
	}
	.content{
		width: 73%;
		float: right;
		box-sizing: border-box;
		box-sizing: border-box;
	}
	.product-image{
    display: inline-block;
		width: 30%;
	}
	.product-image img{
		width: 80%;
	}
	.title{
		font-size: 18px;
		max-width: 100%;
	}

	.product-info{
		width: 70%;
		display:inline-block;
		vertical-align: top;
	}
	.single-product {

	}


}
@media screen and (min-width: 900px){
	.content{
		width:80%;
	}
}